body{
	background-color: gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
/*
.footer-copyright > a{
	color: #fff;
}

/*
.navbar-nav li:hover>.dropdown-menu
{
	display: block;
}
*/

